# Общие файлы .NET
bin/
obj/

# Файлы конфигурации пользователя
*.user
*.vspscc
*.vssscc
.vscode/
.vs/

# Логи
*.log

# Пакеты
packages/
*.nupkg
*.snupkg

# Файлы отладки и анализаторов
*.pdb
*.cache
*.coverage
*.dll
*.exe

# Конфигурация IDE
.idea/
*.suo
*.userosscache
*.sln.docstates

# Конфигурация Visual Studio Code
.vscode/

# Файлы временных данных и кэша
*.swp
*.temp
*.TMP
*.tmp
_ReSharper*/
*.DotSettings.user

# Конфигурация Azure
*.PublishSettings
# Локальные конфигурации
appsettings.*.json

# Папка с проектом Rider от JetBrains
.idea/

# MacOS системные файлы
.DS_Store

# Windows системные файлы
Thumbs.db
desktop.ini

# Библиотеки, созданные с помощью NuGet
project.lock.json
project.fragment.lock.json

# Конфигурация спецификаций
TestResults/
